[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mssql-django = "*"
python-decouple = "*"
django-filter = "*"
sqlparse = "*"
djangorestframework = "*"
drf-spectacular = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
djangorestframework-simplejwt = "*"
pyodbc = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
